[run]
source = src/collective/contact/core
omit =
    */upgrade*
    */tests/*
    */__init__.py

[report]
include =
    src/collective/contact/core/*
omit =
    */upgrade*
    */tests/*
    */__init__.py
