*.egg-info
*.mo
*.pyc
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
bin/
develop-eggs/
include/
lib/
parts/
src/*
!src/collective/
var/
buildout-cache/
htmlcov
.coverage
*.html
*.log
output.xml
*.swp
