[buildout]

extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-6.2.x.cfg
    https://dist.plone.org/release/6.2.2/versions-extra.cfg
    https://dist.plone.org/release/6.2.2/versions-ecosystem.cfg
    base.cfg

#update-versions-file = test-6.2.cfg

[versions]
iw.debug = 0.3
