[versions]
setuptools = 44.1.1
zc.buildout = 3.4
mr.developer = 2.0.2
# misc
beautifulsoup4 = 4.8.2
# html.escape backport is not available in old future...
future = 0.18.2
pep517 = 0.12.0
python-dateutil = 2.8.0
six = 1.16.0
# python 2 ...
collective.documentgenerator = 3.46
collective.excelexport = 1.8.3
file-read-backwards = 2.0.0
functools32 = 3.2.3-2
natsort = 6.2.1
plone.formwidget.masterselect = 1.8
psutil = 6.1.1
PyJWT = 1.7.1
shortuuid = 0.5.0
traitlets = 4.3.2
zipp = 1.2.0
# Upper version need zope.configuration 3.8
z3c.unconfigure = 1.0.1
z3c.table = 2.2
# for fingerpointing
zc.lockfile = 1.4

# Required by:
# beautifulsoup
soupsieve = 1.9.2
backports.functools-lru-cache = 1.5

# Required by:
# imio.helpers==1.3.11.dev0
cryptography = 3.3.2
cffi = 1.15.1
ipaddress = 1.0.23
pycparser = 2.21

ipdb = 0.13.13

# Required by:
# ipdb
backports.shutil-get-terminal-size = 1.0.0
enum34 = 1.1.6
# <6 for py2.7
ipython = 5.10.0
ipython-genutils = 0.2.0
iw.debug = 0.3
pathlib = 1.0.1
pathlib2 = 2.3.5
pexpect = 4.6.0
pickleshare = 0.7.4
prompt-toolkit = 1.0.15
ptyprocess = 0.6.0
scandir = 1.10.0
simplegeneric = 0.8.1
toml = 0.10.2
traitlets = 4.3.3
wcwidth = 0.1.7
